.content__template-items {
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

@media screen and (max-width: 951px) {
    .content__template-items {
row-gap: 12px;
    }
  }