.header__button-counter {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #F55123;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
    vertical-align: center;
position: absolute;
top: -10%;
right: 0;
}

.header__button-counter_none {
    display: none;
}