.content__counter-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1.2;
    cursor: pointer;
}

@media screen and (max-width: 951px) {
    .content__counter-button {
width: 24px
    }
  }