.cost-form__cards {
    display: flex;
    margin-top: 4px;
    column-gap: 8px;
    padding-bottom: 12px;
}

@media screen and (max-width: 951px) {
    .cost-form__cards {
    display: none;
  }}