.cost-form__tooltip_bottom {
    top: 150%;
    left: 25%;
}



@media screen and (max-width: 1216px) {
    .cost-form__tooltip_bottom {
      left: 36%;
    }
  }

  @media screen and (max-width: 951px) {
    .cost-form__tooltip_bottom {
      top: 130%;
      left: 8%;
    }
  }