.popup__trash {
    background: url(../../../images/trash-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 8px;
}

.popup__trash:hover {
    background: url(../../../images/activetrash-icon.svg);
}