.cost-form__button {
    width: 100%;
    background-color: rgba(203, 17, 171, 1);
    height: 44px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-bottom: 12px;
}

.cost-form__button:hover {
    background-color: rgba(203, 17, 171, 0.7);
}
