.cost-form__volute{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.69;
    letter-spacing: -0.2px;
}

@media screen and (max-width: 951px) {
    .cost-form__volute {
   font-size: 18px;
    }
  }
