.content__item-options {
    display: grid;
    grid-template-columns: repeat(2, 110px);
    column-gap: 6px;
}

@media screen and (max-width: 951px) {
    .content__item-options {
   display: flex;

    }
  }