.popup__buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    padding-bottom: 24px;
}

@media screen and (max-width: 951px) {
    .popup__buttons {
  padding-bottom: 26px;
    }
  }