.content__trash-button {
    background: url(../../../images/trash-icon.svg) no-repeat;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.content__trash-button:hover {
    background: url(../../../images/trash-active-icon.svg) no-repeat;
    cursor: pointer;
}