.content__absent {
  padding-top: 30px;
  padding-bottom: 41px;

   }

   @media screen and (max-width: 1025px) {
    .content__absent {
   padding-top: 38px;

    }
  }

@media screen and (max-width: 951px) {
    .content__absent {
   padding: 0 16px;

    }
  }