.menu__mobile {
  display: none;
}

@media screen and (max-width: 951px) {
    .menu__mobile {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding: 14px 13px 14px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    }
  }