.content__free-delivery {
    font-size: 13px;
    line-height: 1.23;
    font-weight: 400;
    align-items: center;
  }

  .content__free-delivery:before {
    content: "";
    display: block;
    background: url(../../../images/done-check.svg) no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    background-size: 100%;
    margin-right: 8px;
}